.DS_Store
.idea/
cmake-build-debug/.cmake/
cmake-build-debug/CMakeFiles/
cmake-build-debug/Testing/
cmake-build-debug/.gitignore
cmake-build-debug/*.exe
cmake-build-debug/*.dll
cmake-build-debug/*.ninja*
cmake-build-debug/*.cmake
cmake-build-debug/*.txt
cmake-build-debug/glfw/*

#src3DOldProject/
.vs/